@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(/static/fonts/cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(/static/fonts/latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
    background-image: url('/static/img/page.png');
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    /*height: 100vh;*/
}
.form {
    width: 300px;
    margin: 140px auto 0;
    text-align: center;
}
.title {
    font-size: 26px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 0;
    text-shadow: 1px 1px 3px #000;
    font-family: 'Ubuntu', sans-serif;
}
.title__small {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
input {
    width: 150px;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}

button {
    background: none rgba(255, 255, 255, .75);
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 5px 25px;
    font-family: 'Ubuntu', sans-serif;
}