@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    height: 100%;
}

.home-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
    background-image: url(../images/home.png);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: url(../images/home.png);
}

.language {

}

.language__box {
    display: inline-block;
}

.language__box--left {
    margin-right: 5px;
}

.language__btn {
    cursor: pointer;
    width: 376px;
    height: 184px;
}

.language__btn--ru {
    background-image: url(../images/btns/ru.png);
}

.language__btn--ru:hover {
    background-image: url(../images/btns/ru-hover.png);
}

.language__btn--en {
    background-image: url(../images/btns/en.png);
}

.language__btn--en:hover {
    background-image: url(../images/btns/en-hover.png);
}

.language__text {
    color: #fff;
    font-size: 24px;
    margin-bottom: -15px;
}
.language__text--left {
    text-align: right;
    margin-right: 25px;
}
.language__text--right {
    margin-left: 25px;
}

.base-container {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
}

.base-container__header {
    padding: 20px;
}

.base-container__back-button {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 4px;
    /* box-shadow: 0 0 4px #000; */
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.38);
}

.base-container__content {
    padding: 0 20px;
    flex: 1;
}

.categories {
    display: flex;
    flex-direction: column;
}

.category {
    margin-bottom: 20px;
}

.category__header {
    margin-top: 0;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.category__sub-categories {
    display: flex;
    flex-wrap: wrap;
}

.category__sub-category {
    background-color: rgba(255, 255, 255, .8);
    width: 450px;
    padding: 40px 40px;
    box-shadow: 0 0 4px #666;
    margin-right: 15px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 8px;
}

.videos-wrapper {
    display: flex;
    height: 100%;
}

.videos {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.video {
    width: 65%;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px 40px;
    box-shadow: 0 0 4px #666;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.video__play {
    float: left;
    margin-right: 10px;
}

.videos__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    margin-left: 40px;
    color: #fff;
}

.videos__scroll-button:first-child {
    margin-bottom: 30px;
}

.videos__scroll-button {
    cursor: pointer;
}

.videos__scroll-button--inactive {
    color: #999;
    cursor: auto;
}

.player {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
}

.player__video {
    width: 100%;
    height: 100%;
}

.player__close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
    color: #000;
    z-index: 999;
    cursor: pointer;
}

.player__controls {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 20px;
    height: 130px;
    font-size: 100px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px #000;
}

.player__control {
    cursor: pointer;
}

.player__control--text {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.player__control--text--green {
    background-color: #129234;
    color: #fff;
}

.player__control-buttons {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.send-email {
    position: absolute;
    width: 50vw;
    padding: 20px;
    border: 5px solid #3844e4;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
}

.send-email__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.send-email__header {
    font-size: 40px;
    color: #333;
}

.player__close--popup {
    left: auto;
    top: 3px;
    right: 13px;
    font-size: 45px;
}

.send-email__input {
    font-size: 30px;
}

.send-email__button {
    font-size: 26px;
    color: #333;
    padding: 5px 10px;
}

.send-email__button--active {
    color: #fff;
    background-color: #63b324;
}

.download-video {
    position: absolute;
    width: 50vw;
    padding: 20px;
    border: 5px solid #3844e4;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
}

.home-info {
    position: absolute;
    color: #fff;
}

.home-info--left {
    left: 120px;
    top: 100px;
}

.home-info--right {
    right: 120px;
    top: 100px;
}

.home-info__box {
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 3px solid #fff;
}

.home-info__title {
    font-size: 51px;
    margin-bottom: 10px;
}

.home-info__sub-title {
    font-size: 32px;
}

.home-info__text {
    font-size: 32px;
    line-height: 45px;
}

.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dadada;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
}

.keyboard-row {
    display: flex;
}

.keyboard-keysSet {
    display: flex;
    flex-grow: 1;
}

.keyboard-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100px;
    font-size: 18px;
    height: 60px;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: 1px solid #CECECE;
    font-family: 'Ubuntu';
    font-weight: 300;
}

.keyboard-button:focus {
    outline: none;
}

.keyboard-button:disabled {
    opacity: 0.4;
    cursor: default;
}

.keyboard-button:active {
    background-color: #cccccc;
}

.keyboard-numberButton {
    flex-grow: 1;
}

.keyboard-halfButton {
    flex-basis: 56px;
}

.keyboard-space {
    flex-grow: 1;
}

.keyboard-utilButton {
    flex-grow: 2;
    max-width: 55px;
}

.keyboard-additionalButton {
    flex-basis: 128px;
}

.keyboard-submit-button {
    flex-basis: 95px;
    background-color: #63b324;
    border-color: #63b324;
    color: #ffffff;
}

.keyboard-wrapper {
    position:fixed;
    bottom: 0;
    z-index: 10000;
    width: 700px;
    left: calc(50% - 350px);
}

.keyboard-button.shift-symbols {
    flex-basis: 210px;
}

.player__option {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #000;
    font-size: 90px;
    z-index: 999;
}

.download__text-big {
    font-size: 47px;
}